<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key ="inputFileUrl" value = "C:\Users\Desktop\BnpTest\data.txt"/>
    <add key ="fileLocationUrl" value = "C:\Users\Desktop\BnpTest\"/>
  </appSettings>
</configuration>